body {
  background-image: linear-gradient(to bottom, #8890e7, #a37be8);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.second_container {
  background-color: #e9d6f7;
  margin: 10px;
  border-radius: 15px;
  padding: 20px;
  width: 60vh;
  height: auto;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #5c00e7;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vh;
  position: relative;
}

label {
  font-size: 20px;
  color: #444242;
  margin-left: 80px;
  display: block;
  margin-bottom: 5px;
  align-self: flex-start;
}

input {
  width: 70%;
  padding: 12px;
  margin-left: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

button {
  margin-top: 30px;
  color: white;
  font-size: 20px;
  width: 130px;
  height: 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, #6736fc, #ce6ef8);
}

button:hover {
  background-image: linear-gradient(to right, #ce6ef8, #6736fc);
}

p {
  text-align: center;
  margin-top: 20px;
  color: #444242;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(89, 89, 251);
}

a:hover {
  color: blue;
}
